* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
@font-face{
  font-family:"Watermelon";
  src:url("fontes/watermelon/Watermelon.ttf") format("truetype");
}
.nave {
    background: #B38EFF;
    height: 77px;
}

.nav--div{
    padding: 25px;
}

.tit {
    float: left;
    color: white;
    list-style:  none;
    display: inline;
    margin-right: 45%;
    margin-left: 7%;
    
}

.tit--li {
    font-size: 25px;
}

.menu {
    list-style: none;
}

.menu--li{
    display: inline;
    margin-right: 3%;
}

.menu--li a {
    text-decoration: none;
    color: white;
}
header{
    position: relative;
}
.banner {
    background-color: #C4A7FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.banner--img {
    width: 100%;
    margin-top: 30vh;

}

.cards {
    top: 0;
    
}

.card1-img{
    background-image: url(../img/biologia.jpg);
    height: 100%;
    background-size: cover;
}
.card2-img{
    background-image: url(../img/teste2.jpg);
    height: 100%;
    background-size: cover;
}
.card3-img{
    background-image: url(../img/fones.jpg);
    height: 100%;
    background-size: cover;
}

.card-1 {
    width: 28%;
    height: 80vh;
    display: inline;
    float: left;
    margin-right: 5%;
    margin-left: 2%;

}
.card-2{
    width: 28%;
    height: 80vh;
    display: inline;
    float: left;
    margin-right: 5%;
    
}
.card-3{
    width: 28%;
    height: 80vh;
    display: inline;
    float: left;
    margin-right: 2%;
}

.btn1 {
    background-color: rgba(179, 142, 255, .5);
    color: white;
    margin-left: 33%;
    transform: translate(-33%, 0);
    padding: 5% 10%;
    text-decoration: none;
    border-radius: 5px;
}
.card-btn{
    margin-top: -15%;
    transform: translate(0, -15%);
}
.apre{
  color: #B38EFF;
  margin-top: 100vh;
  margin-left: 20%;
  height: 30vh;
  width: 60%;
  text-align: center;
}
.font-apre1{
  padding-top: 3%;
  font-size: 50px;
  font-family:monospace;
  
}
.font-apre2{
  font-size: 20px;
  font-family:sans-serif;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45%;
}
.font-con{
  text-align: center;
  color: #B38EFF;
  padding-top: 3%;
  font-size: 250%;
  font-family:monospace;
}


.dica1{
    margin-left: 10%;
    margin-top: 10%;
    background-color: rgba(179, 142, 255, .7);
    width: 60%;
    height: 40vh;  
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}
.dica2{
    margin-left: 10%;
    margin-top: 40%;
   background-color: rgba(179, 142, 255, .7);
    width: 60%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}
.dica3{
    margin-left: 10%;
    margin-top: 70%;
    background-color: rgba(179, 142, 255, .7);
    width: 60%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.tex-dicas{
    color: aliceblue;
    margin-top: -25%;
    margin-left: 45%;
}
.dica1-img{
    width: 40%;
    height: 40vh;
    border-radius: 3px;
}
.dica1-img:hover{
   transform: scale(1.1);
   transition: all .4s ease;
}

.resto{
    margin-top: 200vh;
    height: 100px;
    width: 100%;
}
.tit-ob{
    padding-top: 3%;
    text-align:justify; 
    margin-top: 10%;
    margin-left: 10%;
    color:white;
    font-family:monospace;
    position: absolute;
}
.tex-ob{
    padding-top: 3%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 15%;
    margin-left: 10%;
    color:white;
    font-family: cursive;
    position: absolute;
}
.tex-rod{
    padding-top: 3%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 38%;
    margin-left: 10%;
    color:white;
    font-family: cursive;
    position: absolute;
}
.rod-img{
    z-index: -1;
    width: 100%;
    height: 90vh;   
    position: relative;
}

/*Quiz*/
.exemplo1 input[type=radio]{
    display:none; /* Esconde os inputs */
}
 
.exemplo1 input[type=radio] + label{
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin:0 10px 0 0;
    background-image:url(../img/ico-master3.png);
    background-repeat:no-repeat;
    background-position:0 0;
    font-size: large;
}
 
.exemplo1 input[type=radio]:checked + label{
    background-position:0 -30px;
    font-size: large;
}

.textoquiz1 {
  font-size: large;
  margin-left: 10%;
  margin-top: 10%;
}

.textoquiz2 {
  font-size: large;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%
}

.titquiz {
  font-family: "Watermelon";
  margin-top: 10%;
  font-size: 45px;
  text-align: center;
  color: purple;
}

.botquiz {
    
    margin-top: 5%;
    margin-left: 50%
  }

.labelquiz {

}
  .botquiz2{
    background:purple;
        color:#ffffff;
        width: 12%;
        text-align: center;
        font-size: 20px;
        padding-top: 1%;
        padding-bottom: 1%;
  }
