*{
  padding: 0;
  margin: 0;
}

/*Fontes*/
@font-face{
  font-family:"Watermelon";
  src:url("font/watermelon/Watermelon.ttf") format("truetype");
}

.menu{
  height: 80px;
  background-color: #500080;
  
 /*background-color: #a74ced;  */
  
}
.ul2 li:hover{
  color: #a74ced;
}
.ul1{
  display: inline;
}
.ul1 li{
  display: inline;
  margin-top: 1.5%;
  float: left;
  color: aliceblue;
  font-size: 35px;
  font-style: oblique;
  font-family: "Times New Roman";
  margin-left: 13%;
}
.ul2{
  display: inline;
}
.ul2 li{
   margin-top: 2%;
   color: aliceblue;
   display: inline;
   float: right;
   font-size: 20px;
   margin-left: 2%;
   margin-right: 2%;
}
.banner{
  width: 100%
}
/*Quiz*/
.exemplo1 input[type=radio]{
    display:none; /* Esconde os inputs */
}
 
.exemplo1 input[type=radio] + label{
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin:0 10px 0 0;
    background-image:url(../img/ico-master3.png);
    background-repeat:no-repeat;
    background-position:0 0;
    font-size: large;
}
 
.exemplo1 input[type=radio]:checked + label{
    background-position:0 -30px;
    font-size: large;
}

.textoquiz1 {
  font-size: large;
  margin-left: 10%;
  margin-top: 10%;
}

.textoquiz2 {
  font-size: large;
  margin-left: 10%;
  margin-top: 5%;
}

.titquiz {
  font-family: "Watermelon";
  margin-top: 10%;
  font-size: 45px;
  text-align: center;
  color: purple;
}