* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
@font-face{
  font-family:"Watermelon";
  src:url("fontes/watermelon/Watermelon.ttf") format("truetype");
}
.nave {
    background: #B38EFF;
    height: 77px;
}

.nav--div{
    padding: 25px;
}

.tit {
    float: left;
    color: white;
    list-style:  none;
    display: inline;
    margin-right: 40%;
    margin-left: 7%;
    
}

.tit--li {
    font-size: 25px;
}

.menu {
    list-style: none;
}

.menu--li{
    display: inline;
    margin-right: 3%;
}

.menu--li a {
    text-decoration: none;
    color: white;
}
header{
    position: relative;
}
.banner {
    background-color: #C4A7FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.banner--img {
    width: 100%;
    margin-top: 30vh;
    
}
.topicos{
  margin-top: 50%;
  width: 90%;
  margin-left: 6%;
  margin-right: 5%;
  display: block;
}
.li-topicos{
  
  margin-left: 2%;
  display: inline;
  font-family: monospace;
  font-size: 160%;
  text-align: center;
}
.img-topicos{
  padding-top: 4%;
  padding-bottom: 4%;
  height: 30vh;
  width: 20%;
}
.card1-img{
    background-image: url(../img/materias/arte.jpg);
    height: 100%;
    background-size: cover;
}
.card2-img{
    background-image: url(../img/materias/bio.jpg);
    height: 100%;
    background-size: cover;
}
.card3-img{
    background-image: url(../img/materias/espa.jpg);
    height: 100%;
    background-size: cover;
}
.card4-img{
    background-image: url(../img/materias/filo.jpg);
    height: 100%;
    background-size: cover;
}.card5-img{
    background-image: url(../img/materias/fis.jpg);
    height: 100%;
    background-size: cover;
}.card6-img{
    background-image: url(../img/materias/geo.jpg);
    height: 100%;
    background-size: cover;
}.card7-img{
    background-image: url(../img/materias/histo.jpg);
    height: 100%;
    background-size: cover;
}.card8-img{
    background-image: url(../img/materias/ingles.jpg);
    height: 100%;
    background-size: cover;
}.card9-img{
    background-image: url(../img/materias/lite.jpg);
    height: 100%;
    background-size: cover;
}.card10-img{
    background-image: url(../img/materias/mate.jpg);
    height: 100%;
    background-size: cover;
}
.card11-img{
    background-image: url(../img/materias/port.jpg);
    height: 100%;
    background-size: cover;
}
.card12-img{
    background-image: url(../img/materias/quimi.jpg);
    height: 100%;
    background-size: cover;
}
.card13-img{
    background-image: url(../img/materias/reda.jpg);
    height: 100%;
    background-size: cover;
}
.card14-img{
    background-image: url(../img/materias/socio.png);
    height: 100%;
    background-size: cover;
}

.card{
    width: 20%;
    height: 40vh;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
}
.btn1 {
    background-color: rgba(179, 142, 255, .8);
    color: white;
    margin-left: 30%;
    transform: translate(-30%, 0);
    margin-right: 30%;
    padding: 5% 10%;
    text-decoration: none;
    border-radius: 5px;
}
.card-btn{
    margin-top: -15%;
    margin-right: 10%;
    transform: translate(0, -15%);
}