.txtBusca{
  font-family: "Noto Serif SC";
  background-color:transparent;
  padding-left:3%; 
  font-size:3.5vh;
  border:none;
  height:100%;
  width:70%;
}
.buscar{
  height: 80%;
  width: 9%;
}
.btnBusca{
  height: 80%;
  width: 9%;
  float:left;
  cursor:pointer;
}
 
.divBusca img{
  padding-top: 1.5%;
  float: right;
  padding-right: 1.5%;
}

input:focus {
    outline:none;
}
 
.divBusca{
  margin-top: 5%;
  border:solid 4px rgba(179, 142, 255, 0.8);
  border-radius:10px;
  height:6vh;
  width:55vh;
  margin-left: 35%;
}

.divBusca:active{
  text-decoration: none;
}