font-family: 'Playfair Display SC', serif;
font-family: 'Bad Script', cursive;
font-family: 'Karma', serif;
font-family: 'Marcellus', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Noto Serif SC', serif;

.buscar{
  height: 80%;
  width: 9%;
}
.pesq{
font-family: 'Marcellus';
font-size: 1.2rem;
padding-left: 35%;
padding-top: 10%;
}

.btn{
margin-top: 7%;
margin-left: 15%;
font-family: 'Marcellus';
font-size: 1.2rem;
width: 4.5rem;
height: 2.5rem;
color:white;
background-color: rgba(179, 142, 255, .9);

text-decoration: none;
border-radius: 5px;
}
