.txtBusca{
  float:left;
  background-color:transparent;
  padding-left:3%; 
  font-size:20%;
  border:none;
  height:100%;
  width:89%;
}
.buscar{
  height: 80%;
  width: 9%;
  padding-top: 3%;
  float: ;
}
.btnBusca{
  height: 80%;
  width: 9%;
  float:left;
  cursor:pointer;
}
 
.divBusca img{
  padding-top: 1.5%;
  float:left;
}
 
.divBusca{
  margin-top: 5%;
  border:solid 4px rgba(146, 63, 191, 0.8);
  border-radius:10px;
  height:6vh;
  width:55vh;
  margin-left: 31%;
}