* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
font-family: 'Playfair Display SC', serif;
font-family: 'Bad Script', cursive;
font-family: 'Karma', serif;
font-family: 'Marcellus', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Noto Serif SC', serif;

@font-face{
  font-family:"Watermelon";
  src:url("fontes/watermelon/Watermelon.ttf") format("truetype");
}
.logo{
  height: 4.5rem;
  margin-top: 5%;
}

.nave {
    background: #B38EFF;
    height: 77px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav--div{
    padding: 25px;
    z-index: 1;
}

.tit {
    float: left;
    color: white;
    list-style:  none;
    display: inline;
    margin-right: 40%;
    margin-left: 12%;
    
}

.tit--li {
    
}

.menu {
    margin-left: 3%;
    list-style: none;
    margin-top: 1.2%;
}

.menu--li{
    
    display: inline;
    margin-right: 3%;
}

.menu--li a {
    font-size: 110%;
    text-decoration: none;
    color: white;
    font-family: "Bad Script";
}
header{
    position: relative;
    
}
.banner {
    background-color: #C4A7FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.banner--img {
    width: 100%;
    margin-top: 30vh;
}

.down{
  z-index: 999;
}

.cards {
    top: 0;
    
}

.card2-img{
    background-image: url(../img/teste2.jpg);
    height: 100%;
    background-size: cover;
}


.card-2{
    width: 55%;
    width: 55%;
    height: 80vh;
    display: inline;
    float: right;
    margin-right: 22%;
    
}


.btn1 {
    background-color: rgba(179, 142, 255, .5);
    color: white;
    margin-left: 38%;
    transform: translate(-33%, 0);
    padding: 5% 10%;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Marcellus";
}
.card-btn{
    margin-top: -15%;
    transform: translate(0, -15%);
}
.apre{
  color: #B38EFF;
  margin-top: 100vh;
  margin-left: 20%;
  height: 30vh;
  width: 60%;
  text-align: center;
}

.roxal{
color: #B38EFF; 
}
.apre2{
  margin-top: 100vh;
  margin-left: 20%;
  height: 30vh;
  width: 60%;
  text-align: center; 
}
.font-apre1{
  padding-top: 3%;
  font-size: 50px;
  font-family:"Karma";
  
}
.font-apre2{
  font-size: 20px;
  font-family:"Karma";
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45%;
}
.font-con{
  text-align: center;
  color: #B38EFF;
  padding-top: 3%;
  font-size: 250%;
  font-family:"Karma";
}

.dicas div{
display: inline-grid; 

}
.dica1{
    margin-left: 2%;
    margin-top: 10vh;
    background-color: white;
    width: 65vh;
    height:  60vh;  
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica2{
    margin-left:  2%;
    margin-top: 80vh;
   background-color: white;
    width: 65vh;
    height: 60vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica3{
    margin-left:  2%;
    margin-top: 150vh;
    background-color: white;
    width: 65vh;
    height:  60vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica1-dir{
    margin-left: 50%;
    margin-top: 10vh;
    background-color: white;
    width: 65vh;
    height:  60vh;  
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}
.dica2-dir{
    margin-left: 50%;
    margin-top: 80vh;
   background-color: white;
    width: 65vh;
    height:  60vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}
.dica3-dir{
    margin-left:  50%;
    margin-top: 150vh;
    background-color: white;
    width: 65vh;
    height:  60vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}

.tex-dicas{
    text-decoration: none;
    color: #B38EFF;
    margin-top: 0%;
    margin-left: 9%;
    padding-right: 5%;
    font-size: 75%;
    font-family: "Karma";
    text-align: justify;
}
.nosub a{
  text-decoration: none;
}
.tex-sb{
 color: "dimgrey";
  float: left;
  font-family: "Bad Script";
  font-size: 20px;
  text-align:justify; 
  margin-top: 50px;
}
.dica1-img{
    width: 65vh;
    height: 40vh;
    border-radius: 3px;
}
.dica1-img:hover{
   transform: scale(1.1);
   transition: all .4s ease;
}
.rox{
 background-color: #B38EFF;
}
.enum {
    padding-left: 28%;
    margin-top: 230vh;
    padding-bottom: 10%;
    list-style: none;
}
.enum-item a{
    font-size: 4vh;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color: blueviolet;
    font-family: "Marcellus";
}
.enum-item{
  display:inline;
}

.enum-item a:hover{
  color: black;
  border-radius: 3px (0,0,0, 0.8);
}
.resto{
    height: 100vh;
    width: 100%;
}
.tit-ob{
    padding-top: 3%;
    text-align:justify; 
    margin-top: 10%;
    margin-left: 10%;
    color:white;
    font-family:"Marcellus";
    position: absolute;
}
.tex-ob{
    padding-top: 3%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 15%;
    margin-left: 10%;
    color:white;
    font-family: "Marcellus";
    position: absolute;
}
.tex-rod{
    padding-top: 5%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 38%;
    margin-left: 10%;
    color:white;
    font-family: "Bad Script";
    position: absolute;
}
/*font-con*/
.branco{
  text-align: center;
  color: white;
  padding-top: 3%;
  font-size: 250%;
  font-family:"Karma";
}
.rod-img{
  margin-bottom: -10%;
   z-index: -2;
    width: 100%;
    height: 100%;   
    position: relative;
}

.black{
    background-color:  #B38EFF;
    width: 100%;
}

/*Sticky Nav*/
#navbar {
  overflow: hidden;
  padding: 5px;
   background: #B38EFF;
   z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar a{
    font-family: Bad Script;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 40px;
}
