* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
font-family: 'Playfair Display SC', serif;
font-family: 'Bad Script', cursive;
font-family: 'Karma', serif;
font-family: 'Marcellus', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Noto Serif SC', serif;

@font-face{
  font-family:"Watermelon";
  src:url("fontes/watermelon/Watermelon.ttf") format("truetype");
}
.nave {
    background: #B38EFF;
    height: 77px;
}

.nav--div{
    padding: 25px;
}

.tit {
    float: left;
    color: white;
    list-style:  none;
    display: inline;
    margin-right: 40%;
    margin-left: 7%;
    
}

.tit--li {
    font-size: 25px;
    font-family: "Karma";
}

.menu {
    list-style: none;
}

.menu--li{
    display: inline;
    margin-right: 3%;
}

.menu--li a {
    text-decoration: none;
    color: white;
    font-family: "Bad Script";
}
header{
    position: relative;
    
}
.banner {
    background-color: #C4A7FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.banner--img {
    width: 100%;
    margin-top: 30vh;

}

.cards {
    top: 0;
    
}

.card2-img{
    background-image: url(../img/teste2.jpg);
    height: 100%;
    background-size: cover;
}


.card-2{
    width: 55%;
    width: 55%;
    height: 80vh;
    display: inline;
    float: right;
    margin-right: 22%;
    
}


.btn1 {
    background-color: rgba(179, 142, 255, .5);
    color: white;
    margin-left: 38%;
    transform: translate(-33%, 0);
    padding: 5% 10%;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Marcellus";
}
.card-btn{
    margin-top: -15%;
    transform: translate(0, -15%);
}
.apre{
  color: #B38EFF;
  margin-top: 100vh;
  margin-left: 20%;
  height: 30vh;
  width: 60%;
  text-align: center;
}
.font-apre1{
  padding-top: 3%;
  font-size: 50px;
  font-family:"Karma";
  
}
.font-apre2{
  font-size: 20px;
  font-family:"Karma";
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 45%;
}
.font-con{
  text-align: center;
  color: #B38EFF;
  padding-top: 3%;
  font-size: 250%;
  font-family:"Karma";
}


.dica1{
    margin-left: -5%;
    margin-top: 10%;
    background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;  
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica2{
    margin-left: -5%;
    margin-top: 40%;
   background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica3{
    margin-left: -5%;
    margin-top: 70%;
    background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: left;
}
.dica1-dir{
    margin-left: 45%;
    margin-top: 10%;
    background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;  
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}
.dica2-dir{
    margin-left: 45%;
    margin-top: 40%;
   background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}
.dica3-dir{
    margin-left: 45%;
    margin-top: 70%;
    background-color: rgba(179, 142, 255, .7);
    width: 40%;
    height: 40vh;   
    margin-bottom: 5%;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    float: right;
}

.tex-dicas{
    color: aliceblue;
    margin-top: -47%;
    margin-left: 43%;
    padding-right: 2%;
    font-family: "Marcellus";
    text-align: justify;
}
.tex-sb{
 color: "dimgrey";
  float: left;
  font-family: "Bad Script";
  font-size: 20px;
  text-align:justify; 
  margin-top: 50px;
}
.dica1-img{
    width: 40%;
    height: 40vh;
    border-radius: 3px;
}
.dica1-img:hover{
   transform: scale(1.1);
   transition: all .4s ease;
}
.enum {
    padding-left: 28%;
    margin-top: 200vh;
    list-style: none;
}
.enum-item a{
    
    font-size: 4vh;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
    color: blueviolet;
    font-family: "Marcellus";
}
.enum-item{
  display:inline;
}
.resto{
    margin-top: 20vh;
    height: 100px;
    width: 100%;
}
.tit-ob{
    padding-top: 3%;
    text-align:justify; 
    margin-top: 10%;
    margin-left: 10%;
    color:white;
    font-family:"Marcellus";
    position: absolute;
}
.tex-ob{
    padding-top: 3%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 15%;
    margin-left: 10%;
    color:white;
    font-family: "Marcellus";
    position: absolute;
}
.tex-rod{
    padding-top: 3%;
    font-size: 20px;
    text-align:justify; 
    margin-top: 38%;
    margin-left: 10%;
    color:white;
    font-family: "Bad Script";
    position: absolute;
}
.rod-img{
    z-index: -1;
    width: 100%;
    height: 90vh;   
    position: relative;
}
/*Quiz*/
/*.exemplo1 input[type=radio]{
    display:none;
}
 
.exemplo1 input[type=radio] + label{
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin:0 10px 0 0;
    background-image:url(../img/ico-master3.png);
    background-repeat:no-repeat;
    background-position:0 0;
    font-size: large;
}
 
.exemplo1 input[type=radio]:checked + label{
    background-position:0 -30px;
    font-size: large;
}*/
.top{
    margin-top: 5%;
    margin-left: 15%;
}
.top2{
    margin-top: 2%;
    margin-left: 15%;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.textq{
    font-size: 22px;
}

.textoquiz1 {
  font-size: 22px;
  margin-left: 15%;
}

.textoquiz2 {
  font-size: 22px;
  margin-left: 15%;
  margin-top: 7%;
  margin-right: 8%
}

.titquiz {
  font-family: "Watermelon";
  margin-top: 10%;
  font-size: 45px;
  text-align: center;
  color:  #B38EFF;
  margin-bottom: 10%;
}
.divimgquiz{
    align-content: center;
    align-self: center;
}
.imgquiz{
    margin-left: 15%;
    width: 60%;
}
.sizequiztit{
    font-size: 180%;
}
.botquiz {
    margin-top: 5%;
    margin-left: 46.1%
  }

.labelquiz {

}
.botquiz2{
        background:white;
        color:black;
        border-width: 1%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: black;
        width: 15%;
        text-align: center;
        font-size: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
  }
  .botquiz2:hover{
        border-width: 1%;
        background: white;
        color:black;
        border-top-color: black;
        border-right-color: black;
        border-left-color: black;
        border-bottom-color: black;
        width: 15%;
        text-align: center;
        font-size: 90%;
        padding-top: 2%;
        padding-bottom: 2%;
  }
  .botquiz2:active{
        border-width: 1%;
        background: black;
        color: white;
        border-top-color: black;
        border-right-color: black;
        border-left-color: black;
        border-bottom-color: black;
        width: 15%;
        text-align: center;
        font-size: 80%;
        padding-top: 2%;
        padding-bottom: 2%; 
  }
  .botquiz2:visited{
       background:white;
        color:black;
        border-width: 1%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: black;
        width: 15%;
        text-align: center;
        font-size: 80%;
        padding-top: 2%;
        padding-bottom: 2%;
  }


  .botquiz2:focus{
outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.buttonDiv:focus {
 outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.quiz{
  margin-top: 107vh;
}

/*Carrossel*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Contato*/
